In [1]:
import pandas as pd
import requests
from lxml import html
from bs4 import BeautifulSoup

In [15]:
url = "https://en.wikipedia.org/wiki/Dublin"
response = requests.get(url).text
soup = BeautifulSoup(response, 'lxml')
my_table = soup.find('table', {'class':'wikitable mw-collapsible'}) #wikitable mw-collapsible mw-made-collapsible
values = my_table.findAll('td')

In [17]:
climate = []
for value in values:
    climate.append(value.get_text())

In [18]:
climate

['17.5(63.5)\n',
 '18.1(64.6)\n',
 '23.4(74.1)\n',
 '22.7(72.9)\n',
 '26.8(80.2)\n',
 '28.7(83.7)\n',
 '33.1(91.6)\n',
 '30.6(87.1)\n',
 '27.6(81.7)\n',
 '24.2(75.6)\n',
 '19.4(66.9)\n',
 '17.1(62.8)\n',
 '33.1(91.6)\n',
 '8.1(46.6)\n',
 '8.3(46.9)\n',
 '10.2(50.4)\n',
 '12.1(53.8)\n',
 '14.8(58.6)\n',
 '17.6(63.7)\n',
 '19.5(67.1)\n',
 '19.2(66.6)\n',
 '17.0(62.6)\n',
 '13.6(56.5)\n',
 '10.3(50.5)\n',
 '8.3(46.9)\n',
 '13.3(55.9)\n',
 '5.3(41.5)\n',
 '5.3(41.5)\n',
 '6.8(44.2)\n',
 '8.3(46.9)\n',
 '10.9(51.6)\n',
 '13.6(56.5)\n',
 '15.6(60.1)\n',
 '15.3(59.5)\n',
 '13.4(56.1)\n',
 '10.5(50.9)\n',
 '7.4(45.3)\n',
 '5.6(42.1)\n',
 '9.8(49.6)\n',
 '2.4(36.3)\n',
 '2.3(36.1)\n',
 '3.4(38.1)\n',
 '4.6(40.3)\n',
 '6.9(44.4)\n',
 '9.6(49.3)\n',
 '11.7(53.1)\n',
 '11.5(52.7)\n',
 '9.8(49.6)\n',
 '7.3(45.1)\n',
 '4.5(40.1)\n',
 '2.8(37.0)\n',
 '6.4(43.5)\n',
 '−15.6(3.9)\n',
 '−13.4(7.9)\n',
 '−9.8(14.4)\n',
 '−7.2(19.0)\n',
 '−5.6(21.9)\n',
 '−0.7(30.7)\n',
 '1.8(35.2)\n',
 '0.6(33.1)\n',
 '−1.7(28.9)\n',
 '−5.6(21.9)\n',
 '−9.3(15.3)\n',
 '−15.7(3.7)\n',
 '−15.7(3.7)\n',
 '62.6(2.46)\n',
 '48.8(1.92)\n',
 '52.7(2.07)\n',
 '54.1(2.13)\n',
 '59.5(2.34)\n',
 '66.7(2.63)\n',
 '56.2(2.21)\n',
 '73.3(2.89)\n',
 '59.5(2.34)\n',
 '79.0(3.11)\n',
 '72.9(2.87)\n',
 '72.7(2.86)\n',
 '758.0(29.84)\n',
 '12\n',
 '10\n',
 '11\n',
 '10\n',
 '11\n',
 '10\n',
 '10\n',
 '11\n',
 '10\n',
 '11\n',
 '11\n',
 '12\n',
 '129\n',
 '4.6\n',
 '4.2\n',
 '2.8\n',
 '1.2\n',
 '0.2\n',
 '0.0\n',
 '0.0\n',
 '0.0\n',
 '0.0\n',
 '0.0\n',
 '0.8\n',
 '2.9\n',
 '16.6\n',
 '80.6\n',
 '75.7\n',
 '71.0\n',
 '68.3\n',
 '68.0\n',
 '68.3\n',
 '69.0\n',
 '69.3\n',
 '71.5\n',
 '75.1\n',
 '80.3\n',
 '83.1\n',
 '73.3\n',
 '59.2\n',
 '76.1\n',
 '109.1\n',
 '157.4\n',
 '195.2\n',
 '173.3\n',
 '164.1\n',
 '160.1\n',
 '129.8\n',
 '103.9\n',
 '71.0\n',
 '52.8\n',
 '1,452\n',
 'Source: Met Éireann[88][89][90][91]\n']

In [19]:
count=0
df_temperature = pd.DataFrame()
while count < 12:
    df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
    count += 1

C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2399411964.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_temperature = df_temperature.append({'average_high_celsius' : climate[count], 'daily_mean_celsius' : climate[count+13], 'average_low_celsius' : climate[count+26], 'average_precipitation_mm' : climate[count+39], 'average_precipitation_days' : climate[count+52], 'average_relative_hummidity' : climate[count+65]} ,ignore_index=True)

In [20]:
df_temperature

,average_high_celsius,daily_mean_celsius,average_low_celsius,average_precipitation_mm,average_precipitation_days,average_relative_hummidity
0,17.5(63.5)\n,8.1(46.6)\n,5.3(41.5)\n,2.4(36.3)\n,−15.6(3.9)\n,62.6(2.46)\n
1,18.1(64.6)\n,8.3(46.9)\n,5.3(41.5)\n,2.3(36.1)\n,−13.4(7.9)\n,48.8(1.92)\n
2,23.4(74.1)\n,10.2(50.4)\n,6.8(44.2)\n,3.4(38.1)\n,−9.8(14.4)\n,52.7(2.07)\n
3,22.7(72.9)\n,12.1(53.8)\n,8.3(46.9)\n,4.6(40.3)\n,−7.2(19.0)\n,54.1(2.13)\n
4,26.8(80.2)\n,14.8(58.6)\n,10.9(51.6)\n,6.9(44.4)\n,−5.6(21.9)\n,59.5(2.34)\n
5,28.7(83.7)\n,17.6(63.7)\n,13.6(56.5)\n,9.6(49.3)\n,−0.7(30.7)\n,66.7(2.63)\n
6,33.1(91.6)\n,19.5(67.1)\n,15.6(60.1)\n,11.7(53.1)\n,1.8(35.2)\n,56.2(2.21)\n
7,30.6(87.1)\n,19.2(66.6)\n,15.3(59.5)\n,11.5(52.7)\n,0.6(33.1)\n,73.3(2.89)\n
8,27.6(81.7)\n,17.0(62.6)\n,13.4(56.1)\n,9.8(49.6)\n,−1.7(28.9)\n,59.5(2.34)\n
9,24.2(75.6)\n,13.6(56.5)\n,10.5(50.9)\n,7.3(45.1)\n,−5.6(21.9)\n,79.0(3.11)\n
10,19.4(66.9)\n,10.3(50.5)\n,7.4(45.3)\n,4.5(40.1)\n,−9.3(15.3)\n,72.9(2.87)\n
11,17.1(62.8)\n,8.3(46.9)\n,5.6(42.1)\n,2.8(37.0)\n,−15.7(3.7)\n,72.7(2.86)\n

In [23]:
df_temperature['average_high_celsius'] = df_temperature['average_high_celsius'].str.replace('\n','').str.replace(r"\(.*\)","")
df_temperature['average_low_celsius'] = df_temperature['average_low_celsius'].str.replace('\n','').str.replace(r"\(.*\)","") 
df_temperature['average_precipitation_mm'] = df_temperature['average_precipitation_mm'].str.replace('\n','').str.replace(r"\(.*\)","") 
df_temperature['daily_mean_celsius'] = df_temperature['daily_mean_celsius'].str.replace('\n','').str.replace(r"\(.*\)","") 
df_temperature['average_relative_hummidity'] = df_temperature['average_relative_hummidity'].str.replace('\n','').str.replace(r"\(.*\)","")
df_temperature['average_precipitation_days'] = df_temperature['average_precipitation_days'].str.replace('\n','').str.replace(r"\(.*\)","")

df_temperature['month'] = df_temperature.index + 1

C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['average_high_celsius'] = df_temperature['average_high_celsius'].str.replace('\n','').str.replace(r"\(.*\)","")
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['average_low_celsius'] = df_temperature['average_low_celsius'].str.replace('\n','').str.replace(r"\(.*\)","")
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['average_precipitation_mm'] = df_temperature['average_precipitation_mm'].str.replace('\n','').str.replace(r"\(.*\)","")
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['daily_mean_celsius'] = df_temperature['daily_mean_celsius'].str.replace('\n','').str.replace(r"\(.*\)","")
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['average_relative_hummidity'] = df_temperature['average_relative_hummidity'].str.replace('\n','').str.replace(r"\(.*\)","")
C:\Users\amogh\AppData\Local\Temp\ipykernel_15644\2009698668.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_temperature['average_precipitation_days'] = df_temperature['average_precipitation_days'].str.replace('\n','').str.replace(r"\(.*\)","")

In [24]:
df_temperature

,average_high_celsius,daily_mean_celsius,average_low_celsius,average_precipitation_mm,average_precipitation_days,average_relative_hummidity,month
0,17.5,8.1,5.3,2.4,−15.6,62.6,1
1,18.1,8.3,5.3,2.3,−13.4,48.8,2
2,23.4,10.2,6.8,3.4,−9.8,52.7,3
3,22.7,12.1,8.3,4.6,−7.2,54.1,4
4,26.8,14.8,10.9,6.9,−5.6,59.5,5
5,28.7,17.6,13.6,9.6,−0.7,66.7,6
6,33.1,19.5,15.6,11.7,1.8,56.2,7
7,30.6,19.2,15.3,11.5,0.6,73.3,8
8,27.6,17.0,13.4,9.8,−1.7,59.5,9
9,24.2,13.6,10.5,7.3,−5.6,79.0,10
10,19.4,10.3,7.4,4.5,−9.3,72.9,11
11,17.1,8.3,5.6,2.8,−15.7,72.7,12

In [107]:
df = pd.read_csv("GoogleTrends/India_searching_Ireland.csv")

In [108]:
df.Date = pd.to_datetime(df.Date, dayfirst=True)

In [109]:
df['year']= df['Date'].dt.year
df['month']= df['Date'].dt.month
df

          Date  Count  year  month
0   2017-11-26      4  2017     11
1   2017-12-03      9  2017     12
2   2017-12-10      4  2017     12
3   2017-12-17      6  2017     12
4   2017-12-24     13  2017     12
..         ...    ...   ...    ...
255 2022-10-16     11  2022     10
256 2022-10-23     14  2022     10
257 2022-10-30     12  2022     10
258 2022-11-06      2  2022     11
259 2022-11-13      2  2022     11

[260 rows x 4 columns]

In [164]:
years = [2017, 2018, 2019, 2020, 2021, 2022]
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
new_arr = []
for y in years:
    filter_by_year = df[(df.year == y)]
    for m in months:
        filter_by_month = filter_by_year[(filter_by_year.month == m)]
        count = 0;
        for i, j in filter_by_month.iterrows():
            count = count + j["Count"]
        new_arr.append({'Year': y, 'Month': m, 'Count':count})

In [167]:
new_df = pd.DataFrame(new_arr)
new_df

    Year  Month  Count
0   2017      1      0
1   2017      2      0
2   2017      3      0
3   2017      4      0
4   2017      5      0
..   ...    ...    ...
67  2022      8     21
68  2022      9     25
69  2022     10     44
70  2022     11      4
71  2022     12      0

[72 rows x 3 columns]